<form method="post">
    <input name="name" placeholder="Tytuł"><br>
    <input name="amount" type="number" placeholder="Kwota"><br>
    <input name="date" type="date" placeholder="Data"><br>
    <input name="priority" type="number" placeholder="Priorytet"><br>
    <input type="submit" value="Zapisz"><br>
</form>